*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #eee;
}

a {
	color: #0064bd;
	text-decoration: none;
	background-color: transparent;
	font-size: 13px;
	-webkit-text-decoration-skip: objects;
}
a:hover {
	text-decoration: underline;
}

.title {
	padding-top: 3rem;
	font-size: calc((1.75vw + 1.75vh) + 1vmin);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.form {
	width: 100%;
}
.form-group {
	position: relative;
	margin: 1.5rem 0px;
}
.form-group .form-control:focus {
	outline: 0px;
}
.form-group .form-control:focus ~ .bar:after,
.form-group .form-control:focus ~ .bar:before {
	width: 50%;
}

.form-group .form-control::-webkit-input-placeholder {
	color: #9c9c9c !important;
}

.form-group .form-control::-moz-placeholder {
	color: #9c9c9c !important;
}

.form-group .form-control:-ms-input-placeholder {
	color: #9c9c9c !important;
}

.form-group .form-control::-ms-input-placeholder {
	color: #9c9c9c !important;
}

.form-group .form-control::placeholder {
	color: #9c9c9c !important;
}
.form-control {
	height: calc(1.75em + .5rem + 2px);
	font-weight: 400;
	line-height: 1;
	color: #495057;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin: .5rem 0;
}

.form-group .form-control {
	font-size: 0.9rem;
	display: block;
	border-top-width: initial;
	border-right-width: initial;
	border-left-width: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-left-color: initial;
	box-shadow: none;
	width: 100%;
	padding: .25rem 0 0;
	border-style: none none solid;
	border-image: initial;
	border-bottom: 1px solid rgb(202, 202, 202);
	background: transparent;
}
.form-group .bar::before {
	content: "";
	height: 1px;
	width: 0px;
	bottom: 0px;
	position: absolute;
	background: #2ecc71;
	transition: width 0.2s ease 0s;
}
.form-group .bar::after,
.form-group .bar::before {
	content: "";
	height: 1px;
	width: 0px;
	bottom: 0px;
	position: absolute;
	background: #2ecc71;
	transition: width 0.2s ease 0s;
}

.form-group .bar::before {
	left: 50%;
}
.form-group .bar::after {
	right: 50%;
}

.form-group .helper {
	position: absolute;
	right: 0;
	margin-bottom: -20px;
	font-family: sans-serif;
}
.btn-mui {
	position: relative;
	display: block;
	margin: 5px;
	padding: 0;
	overflow: hidden;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #2ecc71;
	color: #ecf0f1;
	transition: background-color .3s;
	cursor: pointer;
}

.btn-mui:hover,
.btn-mui:focus {
	background-color: #27ae60;
}

.btn-mui > * {
	position: relative;
}

.btn-mui span {
	display: inline-block;
	padding: 10px 20px;
}

.btn-mui:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	background-color: rgba(236, 240, 241, .3);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-mui:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

/*Typing Loader*/
.typing-loader {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-webkit-animation: typing 1s linear infinite alternate;
	-moz-animation: Typing 1s linear infinite alternate;
	animation: typing 1s linear infinite alternate;
	margin: 46px auto; /* Not necessary- its only for layouting*/
	position: relative;
	left: -12px;
}
@-webkit-keyframes typing {
	0% {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	25% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	75% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
	}
}

@-moz-keyframes typing {
	0% {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	25% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	75% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
	}
}

@keyframes typing {
	0% {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	25% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
	}
	75% {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
	}
}
div[role=button] {
	cursor: pointer;
}

.d-flex {
	display: flex;
}

.flex-fill {
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}
.flex-column {
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}
.justify-content-between {
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.justify-content-center {
	-ms-flex-pack: center;
	justify-content: center;
}
.align-items-center {
	-ms-flex-align: center;
	align-items: center;
}

.mb-0 {
	margin-bottom: 0 !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mt-1 {
	margin-top: .5rem !important;
}
.mt-2 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 2rem !important;
}
.mb-2 {
	margin-bottom: 2rem !important;
}

.mx-auto {
	margin: 0 auto;
}

.mt-5,
.my-5 {
	margin-top: 3rem;
}

.vw-100 {
	width: 100vw;
}

.vh-100 {
	height: 100vh;
}

.h-100 {
	height: 100%;
}
.w-100 {
	width: 100%;
}

.w-75 {
	width: 75%;
}
.w-50 {
	width: 50%;
}
.w-25 {
	width: 25%;
}

.p-5 {
	padding: 3rem;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.small {
	font-size: 80%;
}
.text-muted {
	color: #6c757d;
}
.text-success {
	color: rgb(102, 187, 106);
}
.lead {
	font-size: 1.25rem;
	font-weight: 300;
}
.text-center {
	text-align: center;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline-item {
	display: inline-block;
}

.list-inline-item:not(:last-child) {
	margin-right: 0.5rem;
}
.result-box {
	width: 100%;
	border: .0625rem solid #2ecc71;
	display: flex;
	position: relative;
	font-size: .875rem;
	min-width: 0;
	word-wrap: break-word;
	background: #fff;
	margin-top: 30px;
	border-radius: 6px;
	margin-bottom: 30px;
	flex-direction: column;
	padding: 1rem 2rem;
}

.result-box .result-note {
	padding: .75rem 0;
	color: #2ecc71;
	border-bottom: 1px solid #e4e6e8;
	font-size: 1.25rem;
	margin-bottom: .5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.result-box .result-btn {
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	background-color: #1f1f1f;
	border: 1px solid #1c1c1c;
	border-radius: 3px;
	transition: background, color .2s ease;
	cursor: pointer;
}

.result-box .result-btn:hover {
	background-color: #000;
}

.result-box .result-item {
	margin: .25rem 0;
}

.close {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	display: inline-block;
	line-height: 15px;
	cursor: pointer;
	border: 0;
}
